*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.boxmodel{
    border: 3px solid black;
    width: 400px;
    height: 100px;
    margin: 10px;
    background-color: aqua;
    border-radius: 10px 28px;
    padding: 4px 10px;
}
.padding{
    border: 5px solid gray;
    width: 400px;
    height: 100px;
    margin: 10px;
}
.margin{
    border: 5px solid blueviolet;
    width: 400px;
    height: 100px;
    margin: 10px;
}